#trusted-title {
color: #696984;
font-size: 25px;
font-weight: 500;
margin-bottom:32px;
margin-top: 100px;
text-align: center;
}

#trusted-img {
    text-align: center;
}

#trustedby .container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
}
